.title-container{
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#deabab;

    background-image: url('assets/Titian.jpg')
} 

.artists-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

/* Container needed to position the button. Adjust the width as needed */
.title-container {
    position: relative;
    width: 50%;
  }
  
  .title-container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .title-container .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .title-container .button:hover {
    background-color: black;
  }


//   /* Start of hero section styling */
// .hero-section {
//     height: 60vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 60px;
//     padding-top: 10px;
// }

// #hero-container {
//     /* background-color: ghostwhite; */
//     background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     background-attachment: fixed;
// }
